<!DOCTYPE html>
<html lang="en" ng-app="angularSmall">
<head>
	<meta charset="UTF-8">
	<title>test</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
	<h1>HELLO {{message}}</h1>
	<input type="text" ng-model="message">-


<h2>Adults</h2>
	<ul ng-repeat="person in people" ng-hide="person.age < 18">
		<li>{{person.name}} is {{person.age}} years old.</li>
	</ul>
<h2>Minors</h2>
	<ul ng-repeat="person in people" ng-hide="person.age > 18">
		<li>{{person.name}} is {{person.age}} years old.</li>
	</ul>-

	<form ng-submit="addPerson()">
		<label for="">NAME</label>
		<input type="text" class="form-control" ng-model="newPerson.name">
		<label for="">AGE</label>
		<input type="text" class="form-control" ng-model="newPerson.age">
		<button type="submit">Submit</button>
	</form>

</body>
</html>