<h2>Adults</h2>
	<ul ng-repeat="person in people" ng-hide="person.age < 18">
		<li>{{person.name}} is {{person.age}} years old.</li>
	</ul>
<h2>Minors</h2>
	<ul ng-repeat="person in people" ng-hide="person.age > 18">
		<li>{{person.name}} is {{person.age}} years old.</li>
	</ul>-

	<form ng-submit="addPerson()">
		<label for="">NAME</label>
		<input type="text" class="form-control" ng-model="newPerson.name">
		<label for="">AGE</label>
		<input type="text" class="form-control" ng-model="newPerson.age">
		<button type="submit">Submit</button>
	</form>